@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-santas-gray: #a3a3aa;
    --color-cobalt: #0041c8;
    --color-cod-gray: #1c1b1b;
    --color-scorpion: #5f5e5e;
    --color-gun-powder: #434656;
    --color-secondary: #f6f3f2;
    --color-vista-white: #fcf9f8;
  }
}